{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Education Management System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
        .row.content {
            height: 450px
        }

        /* Set gray background color and 100% height */
        .sidenav {
            padding-top: 20px;
            background-color: #f1f1f1;
            height: 100%;
        }

        /* Set black background color, white text and some padding */
        footer {
            background-color: #555;
            color: white;
            padding: 15px;
        }

        /* On small screens, set height to 'auto' for sidenav and grid */
        @media screen and (max-width: 767px) {
            .sidenav {
                height: auto;
                padding: 15px;
            }

            .row.content {
                height: auto;
            }
        }
    </style>
</head>
<body id="app-layout">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">

            <!-- Collapsed Hamburger -->
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#myNavbar">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- Branding Image -->
            <a class="navbar-brand" href="/">
                Team Swift
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'swift:home' %}">Home</a></li>
                <li><a href="{% url 'swift:student_list' %}">Student</a></li>
                <li><a href="{% url 'swift:parent_list' %}">Parent</a></li>
                <li><a href="{% url 'swift:teacher_list' %}">Teacher</a></li>
                <li><a href="{% url 'swift:event_list' %}">Event</a></li>
                <li><a href="{% url 'swift:invoice_list' %}">Invoice</a></li>
                <li><a href="{% url 'swift:course_list' %}">Courses</a></li>
                <li><a href="{% url 'swift:grade_list' %}">Grade</a></li>
                <li><a href="{% url 'swift:mark_list' %}">Marks</a></li>
                <li><a href="{% url 'swift:exam_list' %}">Exam</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{% url 'logout' %}"><i class="fa fa-btn fa-sign-out"></i>Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% block content %}
                <div class="links">
                    <!-- Example row of columns -->
                    <div class="row">

                        <div class="col-md-3">
                            <div class="thumbnail">
                                <img src="{% static "images/stocks.jpg" %}" alt="students"/>
                                <div class="caption">
                                    <h2>Students Portfolio</h2>
                                    <p>Our Stock swifts vary across industries.</p>
                                    <p><a class="btn btn-default" href="{% url 'swift:student_list' %}" role="button">View
                                        details &raquo;</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="thumbnail">
                                <img src="{% static "images/stocks.jpg" %}" alt="parents"/>
                                <div class="caption">
                                    <h2>Parents Portfolio</h2>
                                    <p>Our Stock swifts vary across industries.</p>
                                    <p><a class="btn btn-default" href="{% url 'swift:parent_list' %}" role="button">View
                                        details &raquo;</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="thumbnail">
                                <img src="{% static "images/stocks.jpg" %}" alt="teachers"/>
                                <div class="caption">
                                    <h2>Teachers Portfolio</h2>
                                    <p>Our Stock swifts vary across industries.</p>
                                    <p><a class="btn btn-default" href="{% url 'swift:teacher_list' %}" role="button">View
                                        details &raquo;</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="thumbnail">
                                <img src="{% static "images/stocks.jpg" %}" alt="events"/>
                                <div class="caption">
                                    <h2>Events Portfolio</h2>
                                    <p>Our Stock swifts vary across industries.</p>
                                    <p><a class="btn btn-default" href="{% url 'swift:event_list' %}" role="button">View
                                        details &raquo;</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="thumbnail">
                                <img src="{% static "images/stocks.jpg" %}" alt="invoice"/>
                                <div class="caption">
                                    <h2>Invoice Portfolio</h2>
                                    <p>Our Stock swifts vary across industries.</p>
                                    <p><a class="btn btn-default" href="{% url 'swift:invoice_list' %}" role="button">View
                                        details &raquo;</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="thumbnail">
                                <img src="{% static "images/stocks.jpg" %}" alt="course"/>
                                <div class="caption">
                                    <h2>Course Portfolio</h2>
                                    <p>Our Stock swifts vary across industries.</p>
                                    <p><a class="btn btn-default" href="{% url 'swift:course_list' %}" role="button">View
                                        details &raquo;</a></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="thumbnail">
                                <img src="{% static "images/stocks.jpg" %}" alt="grade"/>
                                <div class="caption">
                                    <h2>Grade Portfolio</h2>
                                    <p>Our Stock swifts vary across industries.</p>
                                    <p><a class="btn btn-default" href="{% url 'swift:grade_list' %}" role="button">View
                                        details &raquo;</a></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="thumbnail">
                                <img src="{% static "images/stocks.jpg" %}" alt="mark"/>
                                <div class="caption">
                                    <h2>Mark Portfolio</h2>
                                    <p>Our Stock swifts vary across industries.</p>
                                    <p><a class="btn btn-default" href="{% url 'swift:mark_list' %}" role="button">View
                                        details &raquo;</a></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="thumbnail">
                                <img src="{% static "images/stocks.jpg" %}" alt="exam"/>
                                <div class="caption">
                                    <h2>Exam Portfolio</h2>
                                    <p>Our Stock swifts vary across industries.</p>
                                    <p><a class="btn btn-default" href="{% url 'swift:exam_list' %}" role="button">View
                                        details &raquo;</a></p>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
</body>
</html>
